<div class="card">
  <%= image_tag @cocktail.image, class:"image" %>
  <h3><%= @cocktail.name %></h3>
  <% @cocktail.doses.each do |dose| %>
    <div class="description-card">
      <%= dose.ingredient.name%> -- <%= dose.description %>
      <%= link_to dose_path(dose), method: :delete do %>
        <i class="fa fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>
<%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail), class:"btn btn-warning" %>
<p><%= link_to "Back to Cocktails List", cocktails_path, class:"link-back" %></p>