<div class="card-show">
  <!-- image of drink -->
  <div class="img">
    <%= image_tag @cocktail.image, class:"image" %>
  </div>
  <!-- name and info -->
  <div class="description-card">
    <h3><%= @cocktail.name %></h3>
    <% @cocktail.doses.each do |dose| %>
      <%= dose.ingredient.name%> -- <%= dose.description %>
      <%= link_to dose_path(dose), method: :delete do %>
        <i class="fa fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>
<!-- action buttons and links -->
<p><%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail), class:"btn-add" %></p>
<p><%= link_to "Back to Cocktails List", cocktails_path, class:"link-back" %></p>